body {
  background: #404040;
  color: #f8f8f8;
  font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  min-height: 100%;
  width: 100%;
}

/* The page is split between map and sidebar - the sidebar gets 1/3, map
  gets 2/3 of the page. You can adjust this to your personal liking. */

.sidebar {
  width: 33.333333%;
}

.sidebar-header{
  margin-top: .5em;
  font-weight: 600;
} 
.sidebar-list-items{
  font-size: medium;
}
.sidebar-address{
  font-size: small;
}
@media screen and (max-width: 576px){
  .sidebar-header{
    font-size: small;
  } 
  .sidebar-list-items{
    font-size: small;
  }
}
.map {
  position: absolute;
  top: 0;
  left: 33.333333%;
  /* border-left: 1px solid #fff; */
  width: 66.666666%;
  height: 100%;
  /* bottom: 0; */
}

.map-header {
  background: rgba(160, 81, 45, 0);
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.marker-message {
  color: red;
  font-weight: 800;
  text-shadow: white 2px 2px;
  position: relative;
  top: -25px;
  padding: 5px;
  /* background: rgba(0, 0, 0, 0.336); */
  width: 120px;
}

.pad2 {
  padding: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}